.action {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: red;
  color: white;
  margin-right: 5px;
  margin-left: 20px;
}

.note {
  margin-left: 15px;
  margin-top: 40px;
}
