.customer {
  .title {
    font-weight: 500;
    font-size: 18px;
  }

  .form-search {
    margin-top: 20px;
  }

  .list-customer {
    cursor: pointer;
    
    .list-active {
      background-color: $hover-color;
      border-radius: 5px;
    }
  }

  .item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 10px;

    .status {
      display: flex;
      justify-content: flex-end;

      p {
        margin-left: 5px;
        width: 60px;
        text-align: center;
        background-color: grey;
        border-radius: 3px;
        padding: 2px 0px;
        color: white;
      }

      .active {
        background-color: $primary-color;
      }
    }

    .booking-status p {
      margin-left: 5px;
      width: 90px;
      text-align: center;
      background-color: grey;
      border-radius: 3px;
      padding: 2px 0px;
      color: white;
    }
  }
}

.booking-detail {
  margin-left: 20px;
  margin-top: 20px;
  border: 2px solid $border-color;
  border-radius: 5px;

  .title {
    background-color: $border-color;
    padding: 10px;
    font-weight: 500;
  }

  .statistic {
    padding: 10px 20px;

    p {
      font-size: 16px;
      padding-top: 3px;
    }

    .customer-name {
      font-weight: 500;
    }

    svg {
      margin-right: 3px;
    }

    .wait {
      color: $primary-color;
    }

    .success {
      color: green;
    }

    .cancel {
      color: red;
    }
  }

  .details {
    padding: 0 10px;
    margin-bottom: 20px;
  }
}